<div class="container" style="max-width:600px; margin:auto;">
		  <strong>Welcome To SkillCat!</strong><br><br>
          <p>Your account will be reviewed by a team <br> member. Once we approve it, we will send an <br> email to you with login instructions.</p>
			  <button type="button"><a href="login.php" style="text-decoration:none; color:black">Login </a></button><br><br>
          </div>
    </div>
	
	
	
	
	
	