<div class="container" style="max-width:600px; margin:auto;">
		  <strong>Login</strong><br><br>
          <p>Gain access to our database of pre-screened HVAC </br> technicians - all of them looking for work</p>
            <form action="data.php" method="post" role="form" autocomplete="off" enctype="multipart/form-data">
               <div class="row mt-3">
                <div class="col-md-9 form-group mt-3 mt-md-0">
				  <label>Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="email@website.com" required="">
                </div>
				</div>
				<div class="row mt-3">
                <div class="col-md-9 form-group">
				  <label>Password</label>
                  <input type="password" name="password" class="form-control" id="password" placeholder="password" required="" readonly onfocus="this.removeAttribute('readonly');" onblur="this.setAttribute('readonly','');">
                </div>
              </div>
              
			  <button type="submit" id="continue">Login</button>
			  <button type="button"><a href="forgotpassword.php" style="text-decoration:none; color:black">Forgot Password </a></button>
			  <button type="button"><a href="index.php" style="text-decoration:none; color:black">Sign Up </a></button>			  
            
          </div></form>
    </div>
	
	
	
	
	
	