<div class="container" style="max-width:600px; margin:auto;">
		  <strong>Password Reset Successful</strong><br><br>
          <p>Login now with your new password</p>
			  <button type="button"><a href="login.php" style="text-decoration:none; color:black">Login </a></button><br><br>
          </div>
    </div>
	
	
	
	
	
	