<div class="container" style="max-width:600px; margin:auto;">
		  <strong>Password Reset Email Sent!</strong><br><br>
          <p>Click the link inside of the email we sent you </br> to reset your password</p>
			  <button type="button"><a href="login.php" style="text-decoration:none; color:black">Login </a></button><br><br>
          </div>
    </div>
	
	
	
	
	
	