<div class="container" style="max-width:600px; margin:auto;">
		  <strong>Reset Password</strong><br><br>
          <p>Enter your new password below</p>
            <form action="data.php" method="post" role="form" autocomplete="off" enctype="multipart/form-data">
               <div class="row mt-3">
                <div class="col-md-9 form-group mt-3 mt-md-0">
				  <label>New Password</label>
                  <input type="password" class="form-control" name="email" id="email" placeholder="Password" required="">
                </div>
				</div>
				<div class="row mt-3">
                <div class="col-md-9 form-group">
				  <label>Confirm New Password</label>
                  <input type="password" name="password" class="form-control" id="password" placeholder="password" required="" readonly onfocus="this.removeAttribute('readonly');" onblur="this.setAttribute('readonly','');">
                </div>
              </div>
              
			  <button type="submit" id="continue">Reset Password</button>
            
          </div></form>
    </div>
	
	
	
	
	
	