<tr class="active">
    <td>
        <div>
            <div class="float-left">
                <img class="mask-group-w3soHd" src="img/mask-group@2x.svg" />
            </div>
            <div class="eric-g-w3soHd firasans-normal-black-14px">
                Eric G.
            </div>
        </div>
    </td>
    <td>
        <div class="san-diego-ca-w3soHd firasans-normal-black-14px">San Diego, CA</div>
    </td>
    <td>
        <div class="x2-w3soHd firasans-normal-black-14px">2</div>
    </td>
    <td>
        <div class="x0-w3soHd firasans-normal-black-14px">0</div>
    </td>
    <td>
        <div class="x87100-w3soHd firasans-normal-black-14px">87/100</div>
    </td>
    <td>
        <div class="yes-w3soHd firasans-normal-black-14px">Yes</div>
    </td>
    <td>
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
            collapse
        </button>
        <!--
        <div class="overlap-group1-w3soHd">
            <a href="3-3-4-6-interview-request-sent.html">
                <div class="rectangle-39-UWjl30 border-1-5px-melon"></div
                ></a>
            <div class="interview-candidate-UWjl30 firasans-normal-black-14px-2">Interview Candidate</div>
        </div>
        -->
    </td>
</tr>
<tr>
    <td colspan="7" class="td_no_pading">
        <div class="collapse" id="collapseExample">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col skills-VMr6Om ">
                        Skills
                        <div class="" style="max-height: 100px; overflow-x: hidden; overflow-y: scroll">
                            <div class="row margin-row">
                                <div class="col-2">
                                    <img class="polygon-15-C61RwL" src="img/polygon-15@2x.svg">
                                </div>
                                <div class="col-10 firasans-normal-black-14px">
                                    Identify Safety Hazards
                                </div>
                            </div>
                            <div class="row margin-row">
                                <div class="col-2">
                                    <img class="polygon-10-C61RwL" src="img/polygon-10@2x.svg">
                                </div>
                                <div class="col-8">
                                    <div class="key-mechanical-tools-C61RwL firasans-normal-black-14px">
                                        Key Mechanical Tools
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-row">
                                <div class="col-2">
                                    <img class="polygon-11-C61RwL" src="img/polygon-11@2x.svg">
                                </div>
                                <div class="col-8">
                                    <div class="customer-service-C61RwL firasans-normal-black-14px">
                                        Customer Service
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-row">
                                <div class="col-2">
                                    <img class="polygon-10-C61RwL" src="img/polygon-10@2x.svg">
                                </div>
                                <div class="col-8">
                                    <div class="key-mechanical-tools-C61RwL firasans-normal-black-14px">Key Mechanical Tools</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col skills-VMr6Om">Certifications</div>
                    <div class="col skills-VMr6Om">Job Requirements</div>
                    <div class="col skills-VMr6Om">Experience</div>
                </div>
            </div>
        </div>
    </td>
</tr>