<div class="row-1-C61RwL">
    <img class="mask-group-w3soHd" src="img/mask-group@2x.svg" />
    <div class="eric-g-w3soHd firasans-normal-black-14px">Eric G.</div>
    <div class="san-diego-ca-w3soHd firasans-normal-black-14px">San Diego, CA</div>
    <div class="x2-w3soHd firasans-normal-black-14px">2</div>
    <div class="x0-w3soHd firasans-normal-black-14px">0</div>
    <div class="x87100-w3soHd firasans-normal-black-14px">87/100</div>
    <div class="yes-w3soHd firasans-normal-black-14px">Yes</div>
    <div class="overlap-group1-w3soHd">
        <a href="3-3-4-6-interview-request-sent.html">
            <div class="rectangle-39-UWjl30 border-1-5px-melon"></div
            ></a>
        <div class="interview-candidate-UWjl30 firasans-normal-black-14px-2">Interview Candidate</div>
    </div>
</div>
<img class="line-7-C61RwL" src="img/line-6@1x.svg" />